<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>

<body>
  <div class="courses">

    <%- include("./partials/nav.ejs") %>

  </div>

<main id="courses">
    <section class="coding-head">
      <h1>Coding Courses</h1>
      <section class="course-links">
        <!-------------------------------search filter-------------------------->  
  <ul class="list-group" id="list">

        <li><a href="./Business">Data Analysis with Business Intelligence</a></li>
        <br>
        <li><a href="./Datascience">Data Science</a></li>
        <br>
        <li><a href="./webdev">Web Development</a></li>
      </ul>
      </section>
      <p>Our coding courses are curated in a beginner-friendly way, and it is easily accessible. With our courses, you can easily acquire industry-relevant technological skills such as business intelligence with Data Science, Web Development, Data analysis and more.
        Additionally, we help you gain the skills, experience and relationships you need to become a world-class IT professional from scratch.
         In return for your commitments, we give you a well-recognised certificate.</p>
    </section> 

    <section class="noncoding-head">
      <h1>Non-Coding Courses</h1>
      <section class="course-links">
        <ul class="list-group" id="list">
        <li><a href="./Employability">Employability Skills</a></li>
        <br>
        <li><a href="./Socialmedia">Social Media Management</a></li>
      </ul>
      </section>
      <p>Advance your career with us as our non-coding courses are run with a robust syllabus which entails Employability Skills and Social Media Management. We offer a platform to unlock the potential of low-code/no-code skills, which would, in return, commemorate collaborations with stakeholders in relevant fields our mentees find themselves. In return for commitments, we give a well-recognised certificate to our mentees.</p>
    </section> 
    
   
    </main>

<!-------------------------------------Footer---------------------------------------------------------------------------->
<%- include("./partials/footer.ejs") %>
<!-------------------------------------------------------------------------------------------------------------------------------->
<%- include("./partials/script.ejs") %>
</body>
</html>
